.m-topBar{
  display: flex;
  position: absolute;
  flex-direction: row;
  height: 49px;
  line-height: 50px;
   background: transparent;
  //background: #11151c;
  font-size: 14px;
  color: #fff;
  // box-shadow: 7px 7px 4px rgba(213, 213, 213, 0.65);
  z-index: 999;
  width: 100%;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  .logo {
    margin: 10px 0 0 30px;
    // width: 128px;
    // height: 36.69px;
  }
  .title {
    //margin: -60px 160px 0 ;
    margin: -59px 170px 0 ; 
    width: 140px;
    height: 44px;
  }
}
