@mixin content {
  background: #11151c;
  color: #dddddd;
  opacity: 1;
  // border-right: 1px solid #eee;
  //  box-shadow: 7px 7px 4px rgba(213, 213, 213, 0.65);
}

.m-menu-container {
  display: flex;
  flex-direction: row;
  margin-left: 20px;

  .m-menu {
    cursor: pointer;
    margin: 0 10px;

    .m-menu-item {
      text-align: center;
      display: inline-block;

      &:hover {
        color: #3a8ee6;
      }
    }
  }

  .m-nav-menu-list {
    position: relative;
    z-index: 999;

    &:hover {
      color: #3a8ee6;

      .m-submenu-list {
        display: block;
      }

      .m-submenu-area {
        display: block;
      }

    }
  }

  @keyframes move {

    // 0% {
    //   height: 0%
    // }

    0% {
      height: 10%
    }

    20% {
      height: 20%
    }

    30% {
      height: 30%
    }

    40% {
      height: 40%
    }

    50% {
      height: 50%
    }

    60% {
      height: 60%
    }

    70% {
      height: 70%
    }

    100% {
      height: 100%
    }


  }
  @-webkit-keyframes move {

    // 0% {
    //   height: 0%
    // }

    0% {
      height: 10%
    }

    20% {
      height: 20%
    }

    30% {
      height: 30%
    }

    40% {
      height: 40%
    }

    50% {
      height: 50%
    }

    60% {
      height: 60%
    }

    70% {
      height: 70%
    }

    100% {
      height: 100%
    }


  }
  .m-submenu-list::-webkit-scrollbar { width: 0 !important }
//   /*修改滚动条样式*/
//   .m-submenu-list::-webkit-scrollbar{
//   width:10px;
//   height:10px;
//   /**/
// }
// .m-submenu-list::-webkit-scrollbar-track{
//   background: rgb(239, 239, 239);
//   border-radius:2px;
// }
// .m-submenu-list::-webkit-scrollbar-thumb{
//   background: #bfbfbf;
//   border-radius:10px;
// }
// .m-submenu-list::-webkit-scrollbar-thumb:hover{
//   background: #333;
// }
// .m-submenu-list::-webkit-scrollbar-corner{
//   background: #179a16;
// }
  .m-submenu-list {
    display: none;
    position: absolute;
    border-right: 1px solid #363636;
    left: -55px;
    top: 49px;
    column-count: 5;
    animation: move .2s;
    overflow-y: auto;
    overflow-x: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    // column-gap: 1em;
    -webkit-animation: move .2s;
    @include content;

    .m-submenu-item {
      line-height: 24px;
      padding: 20px 13px;
      break-inside: avoid;
      text-align: left;
      height:100%;
      overflow: auto;
      // display: inline-block;
      // width: 20%;
      &:first-child {
        //   margin-top: 20px;
        margin-left: 30px;
      }
      // &:nth-child(4n+1) {
      //   //   margin-top: 20px;
      //   margin-left: 30px;
      // }

      &:last-child {
        // margin-bottom: 20px;
      }

      &:hover {


        //   color:#3a8ee6;
        // border-bottom:1px solid #0261a7;
      }

      .m-menu-item {
        //text-align: left;
        //   margin-left: 30%;
        //text-align: left;
      }
    }
  }

  .m-submenu-area {
    display: none;
    position: absolute;
    top: 0;
    left: 301px;
    // width: 1385px;
    // height: 550px;
    padding-top: 20px;

    //   width:100px;
    &:last-child {
      padding-bottom: 20px;
    }

    @include content;
  }

  .m-area-menu {
    float: left;
    height: auto;
    //   width: 120px;

    .m-area-menu-item {
      margin-top: 5px;
      // margin-left: 50px;
      padding: 5px 0px;
      display: block;
      text-align: left;
      color: #E7E7E7;
      font-size: 12px;

      &:hover {
        color: #3a8ee6;
      }

      // border-bottom: 1px solid #eee;
    }
  }

  .m-submenu-area-list {
    text-align: left;
    padding: 0 10px;

    .m-submenu-area-list-item {
      color: #999;
      text-align: left;
      padding: 5px 0;
      font-size: 14px;
      border-bottom: none;
    }
  }
}
